body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  background: #10101a;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background: #181828;
}
::-webkit-scrollbar-thumb {
  background: #00ffd0;
  border-radius: 4px;
}
